#slot {
    width: 100%;
}

#th-user {
    /*display: flex;*/
    text-align: center;
    width: 10%;
}

table {
    border-spacing: 0 10px;
    border-collapse: separate;
}

thead {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.post {
    border: solid black 3px;
    background-color: lightgrey;
    margin: 5px;
}

.post-user {
    text-align: center;
    font-weight: bold;
}

.post-title {
    font-weight: bold;
}

.post-body {
    font-size: smaller;
}

body {
    margin: 0;
}

html {
    font-family: sans-serif;
    padding: 0;
}
