<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Posts - BandLab</title>
  <base href="/public">
</head>
<body>
<nav>
  <a class="selected" href="http://localhost:3000/posts">Posts</a>
  <a href="http://localhost:3000/samples">Samples</a>
</nav>
  <table id="slot">
    <thead>
      <tr>
        <td id="th-user" class="th">Users ⬍</td>
        <td id="th-title" class="th">Titles ⬍</td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</body>
</html>
