<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Posts - BandLab</title>
  <base href="/public">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="module" src="components/NavBar.js"></script>
  <script type="module" src="components/Post.js"></script>
  <script type="module" src="components/Switch.js"></script>
</head>
<body>
  <nav id="nav-bar"></nav>
  <div id="list-header">
    <p id="heading-user" class="list-heading">Users</p>
    <p id="heading-title" class="list-heading">Titles</p>
  </div>
  <div id="list">
  </div>
  <script type="module" src="js/posts.js"></script>
</body>
</html>
