<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Samples - BandLab</title>
  <base href="/public">
</head>
<body>
  <nav>
    <a href="http://localhost:3000/posts">Posts</a>
    <a class="selected" href="http://localhost:3000/samples">Samples</a>
  </nav>
  <div id="slot" style="display: flex; flex-direction: column"></div>
  <script type="text/javascript" src="js/samples.js" crossorigin="anonymous"></script>
</body>
</html>
