<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Samples - BandLab</title>
  <base href="/public">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="module" src="components/NavBar.js"></script>
  <script type="module" src="components/AudioPlayer.js"></script>
</head>
<body>
  <nav id="nav-bar"></nav>
  <div id="list"></div>
  <script type="module" src="js/samples.js"></script>
</body>
</html>
