html {
  font-family: sans-serif;
  --theme-color: #d92626;
  --theme-color-dark: #4a3b3b;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: var(--theme-color);
  border: solid gray 0;
  border-bottom-width: 1px;
  width: 100%;
  height: 3em;
  line-height: 3em;
}

nav > a {
  color: whitesmoke;
  font-weight: bold;
  padding: 0 1em;
  height: 100%;
  text-decoration: none;
}

nav > a.selected, nav > a:hover {
  text-decoration: underline;
}

#list-header {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

#list-header > * {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

#list-header > *:hover {
  color: var(--theme-color);
}

.list-heading::after {
  font-size: small;
}

.list-heading[state='0']::after {
  content: ' ▼';
}

.list-heading[state='1']::after {
  content: ' ▲';
}

#heading-user {
  text-align: center;
  width: 6em;
}

#list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-user {
  font-weight: bold;
  width: 6em;
}

.post-content {
  width: calc(100% - 6em);
}

.post-title {
  font-weight: bold;
}

.post-body {
  font-size: smaller;
}

.post, .audio-player {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  margin: 5px 0;
  padding: 1em 0;
}

.audio-player > p {
  line-height: 2em;
}

.audio-player > button {
  height: auto;
  padding: 0;
}

.audio-player > button > * {
  content: "CARROT";
}

.audio-player-controls {
  display: none;
}

.audio-player-controls-label {
  display: block;
  width: 6em;
  line-height: 2em;
  cursor: pointer;
}

.audio-player-controls:hover + span::after {
  color: var(--theme-color);
}

.audio-player-controls:checked + span::after {
  display: block;
  content: '◼';
  text-align: center;
}

.audio-player-controls + span::after {
  display: block;
  content: '►';
  text-align: center;
}

.audio-label[highlight] {
  color: var(--theme-color);
  font-weight: bold;
}

.centredText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
